<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>My cart</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    <div th:replace="~{fragments/header::header}">Header</div>

    <div class="container mt-5 mb-4 pt-4">
      <h5>My cart</h5>

      <div class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" th:each="p : ${products}">

            <a href="#" class="list-group-item-action card-title" th:text="${p.key.title}">A simple default list group item</a>
            <p>Priсe: <span th:text="${p.value} * ${p.key.price}"></span>p</p>
            <span class="badge badge-primary badge-pill mr-3" th:text="${p.value}">sum</span>
          <form th:action="@{/shop/cart/delete}" th:method="POST">
            <input type="hidden" name="id" th:value="${p.key.id}">
            <button class="btn btn-outline-danger" type="submit">X</button>
          </form>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
          <a href="#" class="list-group-item-action card-title">Total price: </a>
          <p>Priсe: <span th:text="${cartSum}"></span>p</p>
          <button class="btn btn-primary" type="submit">Buy</button>
        </li>
      </div>
    </div>

    <div th:replace="~{fragments/footer::footer}">Footer</div>
  </body>
</html>