<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Продукты</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Стоимость</th>
                <th>Категория</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.title}"></td>
                <td th:text="${p.price}"></td>
                <td> <a th:text="${p.category.title}" th:href="@{?category={category}(category=${p.category.title})}">
                    </a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Фильтр:</p>
    <form action="#" th:action="@{/shop}" method="get">
        <p> min price: <input type="text" th:name="minPrice" th:value="${minPrice}" /></p>
        <p> max price: <input type="text" th:name="maxPrice" th:value="${maxPrice}" /></p>
        <p> name: <input type="text" th:name="symbolsSet" th:value="0" /></p>
        <p><input type="Submit" value="filter" /></p>
    </form>
    <form action="/shop">
        <input type="submit" value="Show all" />
    </form>
    <br>
    <form action="/shop/add-product/">
        <input type="submit" value="Add new product" />
    </form>
</body>

</html>