<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <div th:replace="~{fragments/header::header}">Header</div>
        <div class="container">
            <div class="form-inline mt-5 pt-4 justify-content-around">
                <img th:src="@{${userProfile.picturePath}}" class="rounded me-2 ml-2" alt="ProfileIMG" style="width: 250px;">
                <h1 class="ml-4 display-4" th:text="${userProfile.name} == null ? ${userProfile.username} : ${userProfile.name}"> Header </h1>
            </div>
            <form class="form-group text-muted mt-3" action="#" th:action="@{/auth/edit-profile}" th:object="${userProfile}" method="post"  enctype="multipart/form-data">
                <p>User Name: <input class="form-control" type="text" th:field="*{username}" readonly/></p>
                <p>Name: <input class="form-control" type="text" th:field="*{name}" /></p>
                <p>email: <input class="form-control"  type="text" th:field="*{email}" /></p>
                <p>Phone number: <input class="form-control"  type="text" th:field="*{phoneNumber}" /></p>
                <p>City: <input class="form-control"  type="text" th:field="*{city}" /></p>
                <label for="image"> Change user photo: </label>
                <input class="mb-3" type="file" name="image" id="image"/>
                <input th:if="${userProfile.picturePath != null}" th:field="*{picturePath}" type="text" hidden/>
                <p><input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn btn-secondary" type="reset" value="Reset" /></p>
            </form>
        </div>
    <div th:replace="~{fragments/footer::footer}">Footer</div>
</body>
</html>